$desktop: 960px;
$tablet: 768px;

$blue: #0095c4;
$green: #00b11f;

$font: "Roboto", sans-serif;
$fontSerif: "Roboto Serif", serif;

@mixin mq-below($px) {
  @media (max-width: ($px - 1)) {
    @content;
  }
}

@mixin mq-above($px) {
  @media (min-width: $px) {
    @content;
  }
}

@mixin mq-between($from, $to) {
  @media (min-width: $from) and (max-width: ($to - 1)) {
    @content;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
